@model IEnumerable<Railway_Group01.Data.Route>
@{
	Layout = null;

}
<style>
	.name {
		position: relative;
		bottom: 15px;
		left: 20px;
	}

	.schedule {
		text-align: center;
		background-color: white;
		width: 50%;
		position: relative;
		top: 50%;
		left: 25%;
	}

	.overlay {
		height: 100%;
		width: 100%;
		display: none;
		position: fixed;
		z-index: 2000;
		top: 0;
		left: 0;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0, 0.9);
	}

	.overflowTest {
		
		height:100px;
		overflow: auto;
		border: 1px solid #ccc;
	}

		.overlay a {
			padding: 8px;
			text-decoration: none;
			font-size: 36px;
			color: #818181;
			display: block;
			transition: 0.3s;
		}

			.overlay a:hover, .overlay a:focus {
				color: #f1f1f1;
			}

		.overlay .closebtn {
			position: absolute;
			top: 20px;
			right: 45px;
			font-size: 60px;
		}

	.tableSchedule {
		text-align: center;
		background-color: white;
		width: 75%;
		position: relative;
		top: 50%;
		left: 25%;
	}

	.borderSe {
		border: 2px solid white !important;
	}

	.borderSethead {
		border: 2px solid white !important;
		background-color: #EC5B24;
		color: white;
	}
	.colerth{
		background-color: #EC5B24 !important;
		color: white !important;
	}
</style>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="Codescandy" name="author">
<title>Route</title>
<!-- Favicon icon-->

<partial name="_Header" />
<div class="main-wrapper">
	<!-- navbar vertical -->
	<!-- navbar -->
	<partial name="_AdminNavbar" />

	<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
		<div class="navbar-vertical">
			<div class="px-4 py-5 d-flex justify-content-between align-items-center">
				<a href="../index.html" class="navbar-brand">
					<img src="../assets/images/logo/freshcart-logo.svg" alt="" />
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
				<ul class="navbar-nav flex-column">
					<li class="nav-item">
						<a class="nav-link " href="../dashboard/index.html">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-house"></i></span>
								<span>Dashboard</span>
							</div>
						</a>
					</li>
					<li class="nav-item mt-6 mb-3">
						<span class="nav-label">Store Managements</span>
					</li>
					<li class="nav-item">
						<a class="nav-link  active " href="../dashboard/products.html">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-cart"></i></span>
								<span class="nav-link-text">Products</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="../dashboard/categories.html">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
								<span class="nav-link-text">Categories</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link  collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navOrders" aria-expanded="false" aria-controls="navOrders">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-bag"></i></span>
								<span class="nav-link-text">Orders</span>
							</div>
						</a>
						<div id="navOrders" class="collapse " data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link " href="../dashboard/order-list.html">List</a>
								</li>
								<!-- Nav item -->
								<li class="nav-item">
									<a class="nav-link " href="../dashboard/order-single.html">Single</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="../dashboard/vendor-grid.html">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-shop"></i></span>
								<span class="nav-link-text">Sellers / Vendors</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="../dashboard/customers.html">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-people"></i></span>
								<span class="nav-link-text">Customers</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="../dashboard/reviews.html">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-star"></i></span>
								<span class="nav-link-text">Reviews</span>
							</div>
						</a>
					</li>
					<li class="nav-item mt-6 mb-3">
						<span class="nav-label">Site Settings</span>
						<span class="badge bg-light-info text-dark-info">Coming Soon</span>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#!">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-newspaper"></i></span>
								<span class="nav-link-text">Blog</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-images"></i></span>
								<span class="nav-link-text">Media</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#!">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-gear"></i></span>
								<span class="nav-link-text">Store Settings</span>
							</div>
						</a>
					</li>
					<li class="nav-item mt-6 mb-3">
						<span class="nav-label">Support</span>
						<span class="badge bg-light-info text-dark-info">Coming Soon</span>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#!">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-headphones"></i></span>
								<span class="nav-link-text">Support Ticket</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-question-circle"></i></span>
								<span class="nav-link-text">Help Center</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#!">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-infinity"></i></span>
								<span class="nav-link-text">How FreshCart Works</span>
							</div>
						</a>
					</li>

					<li class="nav-item mt-6 mb-3">
						<span class="nav-label">Our Apps</span>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#!">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-apple"></i></span>
								<span class="nav-link-text">Apple Store</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#!">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-google-play"></i></span>
								<span class="nav-link-text">Google Play Store</span>
							</div>
						</a>
					</li>
					<li id="navMenuLevel" class="collapse " data-bs-parent="#sideNavbar">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link "
								   href="#"
								   data-bs-toggle="collapse"
								   data-bs-target="#navMenuLevelSecond2"
								   aria-expanded="false"
								   aria-controls="navMenuLevelSecond2">
									Two Level
								</a>
								<div id="navMenuLevelSecond2" class="collapse" data-bs-parent="#navMenuLevel">
									<ul class="nav flex-column">
										<li class="nav-item">
											<a class="nav-link " href="#">NavItem 1</a>
										</li>
										<li class="nav-item">
											<a class="nav-link " href="#">NavItem 2</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link  collapsed "
								   href="#"
								   data-bs-toggle="collapse"
								   data-bs-target="#navMenuLevelThree2"
								   aria-expanded="false"
								   aria-controls="navMenuLevelThree2">
									Three Level
								</a>
								<div id="navMenuLevelThree2" class="collapse " data-bs-parent="#navMenuLevel">
									<ul class="nav flex-column">
										<li class="nav-item">
											<a class="nav-link  collapsed "
											   href="#"
											   data-bs-toggle="collapse"
											   data-bs-target="#navMenuLevelThree3"
											   aria-expanded="false"
											   aria-controls="navMenuLevelThree3">
												NavItem 1
											</a>
											<div id="navMenuLevelThree3" class="collapse collapse " data-bs-parent="#navMenuLevelThree">
												<ul class="nav flex-column">
													<li class="nav-item">
														<a class="nav-link " href="#">NavChild Item 1</a>
													</li>
												</ul>
											</div>
										</li>
										<li class="nav-item">
											<a class="nav-link " href="#">Nav Item 2</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- main -->
	<main class="main-content-wrapper">
		<div class="container">
			<div class="row mb-8">
				<div class="col-md-12">
					<!-- page header -->
					<div class="d-md-flex justify-content-between align-items-center">
						<div>
							<h2>Route</h2>
							<!-- breacrumb -->
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a href="#" class="text-inherit">Dashboard</a></li>
									<li class="breadcrumb-item active" aria-current="page">Route</li>
								</ol>
							</nav>
						</div>
						<!-- button -->
						<div>
							<a href="/Route/CreateRoute" class="btn btn-me">Add Route</a>
						</div>
					</div>
				</div>
			</div>
			<!-- row -->
			<div class="row">
				<div class="col-xl-12 col-12 mb-5">
					<!-- card -->
					<div class="card h-100 card-lg">
						<div class="px-6 py-6">
							<div class="row justify-content-between">
								<!-- form -->
								<div class="col-lg-4 col-md-6 col-12 mb-2 mb-lg-0">
									<form class="d-flex" role="search">
										<input class="form-control" type="search" placeholder="Search Route" aria-label="Search" />
									</form>
								</div>
								<!-- select option -->
								
							</div>
						</div>
						@if (TempData["SuccessMessage"] != null)
						{
							<script>
								alert('@TempData["SuccessMessage"]');
							</script>
						}
						<div id="myNav" class="overlay">
							<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
							<div style="overflow-x: auto;overflow-y: auto;max-height: 300px;top: 25%;position: relative;width: 60%;left:15%;">
								<table class="tableSchedule">
									<thead style="position: sticky; top: 0;  z-index: 1;">
										<tr class="borderSe" >
											<th class="borderSethead" >Departure Station</th>
											<th class="borderSethead">Arrival Station</th>
											<th class="borderSethead">Distance</th>
											<th class="borderSethead">TravelTime</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in Model)
										{
											@foreach (var routeDetail in item.RouteDetails)
											{
												<tr class="borderSe" data-routeId="@item.Id">
													<td class="borderSe">@routeDetail.DepartureStation.Name</td>
													<td class="borderSe">@routeDetail.ArrivalStation.Name</td>
													<td class="borderSe">@routeDetail.Distance</td>
													<td class="borderSe">@routeDetail.TravelTime</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
							
						</div>
						<!-- card body -->
						<div class="card-body p-0">
							<!-- table -->
							<div class="table-responsive">
								<table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
									<thead >
										<tr>
											<th class="colerth">No</th>
											<th class="colerth">Start Station</th>
											<th class="colerth">End Station</th>
											<th class="colerth">Distance</th>
											<th class="colerth">Detail</th>
											<th class="colerth">Action</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in Model)
										{										
											<tr>
												<td>
													@item.Id
												</td>
												<td>@item.StartStation.Code</td>
												<td>@item.EndStation.Code</td>
												<td>@item.Distance</td>
												<td>
													<span class="text-reset" onclick="openNav(@item.Id)" data-bs-toggle="dropdown" aria-expanded="false">
														<i class="fa-solid fa-circle-info"></i>
													</span>
												</td>
												<td>
													<div class="dropdown">
														<a href="#" class="text-reset"  data-bs-toggle="dropdown" aria-expanded="false">
															<i class="bi bi-three-dots-vertical"></i>
														</a>
														<ul class="dropdown-menu">
															<li>
																<form asp-action="DeleteRoute" asp-route-id="@item.Id" onsubmit="return confirmDelete()">
																	<button class="dropdown-item" type="submit">
																		<i class="bi bi-trash me-3"></i>
																		Delete
																	</button>
																</form>

															</li>
															<li>
																<a class="dropdown-item" href="@Url.Action("EditRoute", new {id = item.Id})">
																	<i class="bi bi-pencil-square me-3"></i>
																	Edit
																</a>
															</li>
														</ul>
													</div>
												</td>
											</tr>									
										}
									</tbody>
								</table>
							</div>
						</div>
						<div class="border-top d-md-flex justify-content-between align-items-center px-6 py-6">
							<span>Showing 1 to 8 of 12 entries</span>
							<nav class="mt-2 mt-md-0">
								<ul class="pagination mb-0">
									<li class="page-item disabled"><a class="page-link" href="#!">Previous</a></li>
									<li class="page-item"><a class="page-link active" href="#!">1</a></li>
									<li class="page-item"><a class="page-link" href="#!">2</a></li>
									<li class="page-item"><a class="page-link" href="#!">3</a></li>
									<li class="page-item"><a class="page-link" href="#!">Next</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<script>
	function confirmDelete() {
		var result = confirm("Do you want to delete?");
		return result;
	}

	function openNav(routeId) {
		// Ẩn tất cả các div có class "overlay" trước khi hiển thị
		var overlays = document.getElementsByClassName("overlay");
		for (var i = 0; i < overlays.length; i++) {
			overlays[i].style.display = "none";
		}

		// Hiển thị div có id "myNav" và chỉ lấy RouteDetails có cùng RouteId
		var divToShow = document.getElementById("myNav");
		divToShow.style.display = "block";

		// Lọc và chỉ hiển thị RouteDetails có cùng RouteId
		var routeDetails = divToShow.querySelectorAll('tr[data-routeId]');
		routeDetails.forEach(function (routeDetail) {
			var detailRouteId = routeDetail.getAttribute('data-routeId');
			if (detailRouteId == routeId) {
				routeDetail.style.display = "table-row";
			} else {
				routeDetail.style.display = "none";
			}
		});
	}
	function closeNav() {
		document.getElementById("myNav").style.display = "none"
	}

</script>
<partial name="_Footer" />


