@model IEnumerable<Railway_Group01.Data.Schedule>
@{
    Layout = null;
    var routeId = @Model.FirstOrDefault()?.Route?.Id ?? 0;
}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="Codescandy" name="author">
<title>Schedule Detail</title>
<!-- Favicon icon-->
<style>


    .colerth {
        background-color: #EC5B24 !important;
        color: white !important;
    }
</style>

<partial name="_AdminHeader" />
<div class="main-wrapper">
    <!-- navbar vertical -->
    <!-- navbar -->
    <partial name="_AdminNavbar" />

    <nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
        <div class="navbar-vertical">
            <div class="px-4 py-5 d-flex justify-content-between align-items-center">
                <a href="../index.html" class="navbar-brand">
                    <img src="../assets/images/logo/freshcart-logo.svg" alt="" />
                </a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link " href="../dashboard/index.html">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-house"></i></span>
                                <span>Dashboard</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item mt-6 mb-3">
                        <span class="nav-label">Store Managements</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active " href="../dashboard/products.html">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-cart"></i></span>
                                <span class="nav-link-text">Products</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="../dashboard/categories.html">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
                                <span class="nav-link-text">Categories</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navOrders" aria-expanded="false" aria-controls="navOrders">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-bag"></i></span>
                                <span class="nav-link-text">Orders</span>
                            </div>
                        </a>
                        <div id="navOrders" class="collapse " data-bs-parent="#sideNavbar">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link " href="../dashboard/order-list.html">List</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link " href="../dashboard/order-single.html">Single</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="../dashboard/vendor-grid.html">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-shop"></i></span>
                                <span class="nav-link-text">Sellers / Vendors</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="../dashboard/customers.html">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-people"></i></span>
                                <span class="nav-link-text">Customers</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="../dashboard/reviews.html">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-star"></i></span>
                                <span class="nav-link-text">Reviews</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item mt-6 mb-3">
                        <span class="nav-label">Site Settings</span>
                        <span class="badge bg-light-info text-dark-info">Coming Soon</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#!">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-newspaper"></i></span>
                                <span class="nav-link-text">Blog</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-images"></i></span>
                                <span class="nav-link-text">Media</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#!">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-gear"></i></span>
                                <span class="nav-link-text">Store Settings</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item mt-6 mb-3">
                        <span class="nav-label">Support</span>
                        <span class="badge bg-light-info text-dark-info">Coming Soon</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#!">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-headphones"></i></span>
                                <span class="nav-link-text">Support Ticket</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-question-circle"></i></span>
                                <span class="nav-link-text">Help Center</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#!">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-infinity"></i></span>
                                <span class="nav-link-text">How FreshCart Works</span>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item mt-6 mb-3">
                        <span class="nav-label">Our Apps</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#!">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-apple"></i></span>
                                <span class="nav-link-text">Apple Store</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#!">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-google-play"></i></span>
                                <span class="nav-link-text">Google Play Store</span>
                            </div>
                        </a>
                    </li>
                    <li id="navMenuLevel" class="collapse " data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link "
                                   href="#"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#navMenuLevelSecond2"
                                   aria-expanded="false"
                                   aria-controls="navMenuLevelSecond2">
                                    Two Level
                                </a>
                                <div id="navMenuLevelSecond2" class="collapse" data-bs-parent="#navMenuLevel">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link " href="#">NavItem 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#">NavItem 2</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  collapsed "
                                   href="#"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#navMenuLevelThree2"
                                   aria-expanded="false"
                                   aria-controls="navMenuLevelThree2">
                                    Three Level
                                </a>
                                <div id="navMenuLevelThree2" class="collapse " data-bs-parent="#navMenuLevel">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link  collapsed "
                                               href="#"
                                               data-bs-toggle="collapse"
                                               data-bs-target="#navMenuLevelThree3"
                                               aria-expanded="false"
                                               aria-controls="navMenuLevelThree3">
                                                NavItem 1
                                            </a>
                                            <div id="navMenuLevelThree3" class="collapse collapse " data-bs-parent="#navMenuLevelThree">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link " href="#">NavChild Item 1</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#">Nav Item 2</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- main -->
    <main class="main-content-wrapper">
        <div class="container">
            <div class="row mb-8">
                <div class="col-md-12">
                    <!-- page header -->
                    <div class="d-md-flex justify-content-between align-items-center">
                        <div>
                            <h2>Schedule Detail</h2>
                            <!-- breacrumb -->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="#" class="text-inherit">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Train Schdule</li>
                                    <li class="breadcrumb-item active" aria-current="page">Schedule Detail</li>
                                </ol>
                            </nav>
                        </div>
                        <!-- button -->
                        <div>
                            <a href="/ScheduleMaster/TrainSchedule" class="btn btn-me">Back To TrainSchedule</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-12 mb-5">
                    <!-- card -->
                    <div class="card h-100 card-lg">
                        <div class="px-6 py-6">
                            <div class="row justify-content-between">

                                <!-- select option -->
                                <div class="col-lg-2 col-md-4 col-12">
                                    <select class="form-select">
                                        <option selected>Status</option>
                                        <option value="1">Active</option>
                                        <option value="2">Deactive</option>
                                        <option value="3">Draft</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- card body -->
                        <div class="card-body p-0">
                            <!-- table -->
                            <div class="table-responsive">
                                <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                                    <thead class="bg-light">
                                        <tr>
                                            <th class="colerth">Train Code</th>
                                            <th class="colerth">Route Id</th>
                                            <th class="colerth">Departure</th>
                                            <th class="colerth">Arrival</th>
                                            <th class="colerth">Schedule Finished</th>
                                            <th class="colerth">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            @if(item.IsFinished == false)
                                            {
                                                <tr>
                                                    <td>@item.Train.Code</td>
                                                    <td>@item.Route.Id (@item.Route.StartStation.Name to @item.Route.EndStation.Name)</td>
                                                    <td>@item.Departure</td>
                                                    <td>@item.Arrival</td>
                                                    <td>
                                                        @if (item.IsFinished == true)
                                                        {
                                                            <span class="badge bg-light-primary text-dark-primary">Finished</span>
                                                        }
                                                        else
                                                        {
                                                            <div class="dropdown">
                                                                <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <button class="badge bg-light-danger text-dark-danger">Unfinished</button>
                                                                </a>
                                                                <ul class="dropdown-menu">
                                                                    <form asp-action="EditStatusSchedule" asp-route-id="@item.Id" method="post" onsubmit="return confirmEditStatus()">
                                                                        <input type="hidden" name="isfinished" value="True" />
                                                                        <button class="dropdown-item" type="submit" >
                                                                            <span style="width:80px;height:24px;font-size:12px;" class="badge bg-light-primary text-dark-primary">Finished</span>
                                                                        </button>
                                                                    </form>
                                                                </ul>
                                                            </div>
                                                        }
                                                    </td>
                                                    @if(item.Departure < DateTime.Now)
                                                    {
                                                       <td>Null</td>
                                                    }
                                                    else
                                                    {
                                                         <td>
                                                            <div class="dropdown">
                                                                <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bi bi-three-dots-vertical"></i>
                                                                </a>
                                                                <ul class="dropdown-menu">
                                                                    @*  <form asp-action="DeleteTrainSchedule" asp-route-id="@item.Id" onsubmit="return confirmDelete()">
                                                        <button class="dropdown-item" type="submit">
                                                        <i class="bi bi-trash me-3"></i>
                                                        Delete
                                                        </button>
                                                        </form> *@
                                                                    <li>
                                                                        <a class="dropdown-item" href="@Url.Action("EditTrainSchedule", new {id = item.Id})">
                                                                            <i class="bi bi-pencil-square me-3"></i>
                                                                            Edit
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>@item.Train.Code</td>
                                                    <td>@item.Route.Id (@item.Route.StartStation.Name to @item.Route.EndStation.Name)</td>
                                                    <td>@item.Departure</td>
                                                    <td>@item.Arrival</td>
                                                    <td>
                                                        @if (item.IsFinished == true)
                                                        {
                                                            <span class="badge bg-light-primary text-dark-primary">Finished</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge bg-light-danger text-dark-danger">Unfinished</span>
                                                        }
                                                    </td>


                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    @*  pation  *@
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script>
    function confirmDelete() {
        var result = confirm("Do you want to delete?");
        return result;
    }
    function confirmEditStatus() {
        var result = confirm("Are you sure the schedule is finished?");
        return result;
    }

</script>
<partial name="_AdminFooter" />
