@model Railway_Group01.Models.ViewModels.RailwayIndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutofTuong.cshtml";
    var now = DateTime.Now;
}

<div class="banner">
    <div class="banner-line">
        <img src="https://images.ixigo.com/rt-train/pc/img/trainsHome/compareBookWhite.png" width="71"
             height="71" class="compareBookWhite" alt="Search. Book. Go." />
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center banner-forms">
        <ul class="nav nav-tabs z-2  mt-5 bg-white" id="myTab" role="tablist" style="width: 800px; border-radius:4px 4px 0 0">
            <li class="nav-item" role="presentation">
                <button class="nav-link tb-link active" data-bs-toggle="tab" style="border-radius: 4px 0 0 0" data-bs-target="#trainSearchForm" type="button" role="tab" aria-controls="trainSearchForm" aria-selected="true">
                    <span class="text-uppercase fw-700">Booking Trains</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link tb-link rounded-0" data-bs-toggle="tab" data-bs-target="#trainNameNumberSearchForm" type="button" role="tab" aria-controls="trainNameNumberSearchForm" aria-selected="false">
                    <span class="text-uppercase fw-700">Search Train</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link tb-link rounded-0" data-bs-toggle="tab" data-bs-target="#stationSearchForm" type="button" role="tab" aria-controls="stationSearchForm" aria-selected="false">
                    <span class="text-uppercase fw-700">Search Station</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link tb-link rounded-0" data-bs-toggle="tab" data-bs-target="#searchTicketPnr" type="button" role="tab" aria-controls="searchTicketPnr" aria-selected="false">
                    <span class="text-uppercase fw-700">Search Ticket</span>
                </button>
            </li>
        </ul>
        <div class="tab-content z-2 bg-white pt-3 px-4" id="myTabContent" style="height: 200px;width: 800px;border-radius: 0 0 4px 4px;">
            <div id="trainSearchForm" class="tab-pane fade show active w-100" role="tabpanel" tabindex="0">
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <form class="row" method="get" asp-action="Search">
                        <div class="col-md-4 mb-3">
                            <label for="gaDi" class="form-label">From</label>
                            <select class="form-select" name="From" asp-items="@Model.SelectListItems" required></select>

                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="gaDen" class="form-label">To</label>
                            <select class="form-select" name="To" asp-items="@Model.SelectListItems" required></select>
                        </div>
                        <div class="col-md-3 mx-auto mb-3">
                            <label for="ngayXP" class="form-label">Date</label>
                            <input type="date" class="form-control" id="ngayXP" asp-for="@Model.StartDate" required />
                        </div>
                        <div class="col-12 mt-2 d-flex flex-row justify-content-around align-items-center">
                            <button type="submit" class="text-uppercase btn btn-orange rounded-0 w-50 fw-700">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="trainNameNumberSearchForm" class="tab-pane fade w-100 " role="tabpanel" tabindex="0">
                <div class="row">
                    <div class="col-5">
                        <img src="https://images.ixigo.com/rt-train/pc/img/trainsHome/pnr.png" />
                        <div class="">
                            <div class="">Search by Train name and number</div>
                            <small class="text-secondary">Get running status</small>
                        </div>
                    </div>
                    <div class="col-7">
                        <form class="row gx-3 gy-2" asp-action="SearchTrain" method="get">
                            <div class="col-md-9">
                                <label for="traincode" class="form-label">TRAIN NAME/NUMBER</label>
                                <select class="form-select" name="TrainCode" asp-items="@Model.SelectListTrains" required></select>
                            </div>
                            <div class="col-3 align-self-end">
                                <button class="btn btn-orange " type="submit">
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="stationSearchForm" class="tab-pane fade w-100 " role="tabpanel" tabindex="0">
                <div class="row">
                    <div class="col-5">
                        <img src="https://images.ixigo.com/rt-train/pc/img/trainsHome/pnr.png" />
                        <div class="">
                            <div class="">Search by Station</div>
                            <small class="text-secondary">
                                Get list of all trains passing from a station.
                            </small>
                        </div>
                    </div>
                    <div class="col-7">
                        <form class="row" asp-action="SearchStation" method="get">
                            <div class="col-md-9">
                                <label for="station" class="form-label">STATION NAME/CODE</label>
                                <select class="form-select" name="Station" asp-items="@Model.SelectListItems" placeholder="Enter the station name"></select>
                            </div>
                            <div class="col-3 align-self-end">
                                <button class="btn btn-orange " type="submit">
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="searchTicketPnr" class="tab-pane fade w-100 " role="tabpanel" tabindex="0">
                <div class="row">
                    <div class="col-5">
                        <img src="https://images.ixigo.com/rt-train/pc/img/trainsHome/pnr.png" />
                        <div class="">
                            <div class="">Ticket Status </div>
                            <small class="text-secondary">
                                Know current status of your Train ticket and chances of W/L confirmation.
                            </small>
                        </div>
                    </div>
                    <div class="col-7">
                        <form class="row" asp-action="TicketBookingSeach" method="get">
                            <div class="col-md-9">
                                <label for="station" class="form-label">PNR NUMBER</label>
                                <input class="form-control" type="text" name="TicketPNR" placeholder="Enter your pnr number" required />
                            </div>
                            <div class="col-3 align-self-end">
                                <button class="btn btn-orange " type="submit">
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="row pt-4 mx-0 mb-3">
    <h2 class="mt-2 text-center">VietNam Train Ticket Booking on Ease </h2>
    <div class="text-center mt-2">
        <h4 class="text-center">Authorised Partner</h4>
    </div>
    <div class="col-lg-8 col-md-10 col-12 mx-auto row mt-4 mb-3">
        <div class="col-6 d-flex flex-row align-items-center">
            <img src="~/images/svg/icon1.png" width="70" height="70" />
            <div class="ms-4">
                <h5>0 VND Payment Gateway Fee</h5>
            </div>
        </div>
        <div class="col-6 d-flex flex-row align-items-center mb-3">
            <img src="~/images/svg/icon2.png" width="70" height="70" />
            <div class="ms-4">
                <h5>Ease Train Assured: Free Cancellation of Train Tickets</h5>
            </div>
        </div>
        <div class="col-6 d-flex flex-row align-items-center mb-3">
            <img src="~/images/svg/icon3.png" width="70" height="70" />
            <div class="ms-4">
                <h5>Instant Refund on VietNam Railway Reservation Cancellation</h5>
            </div>
        </div>
        <div class="col-6 d-flex flex-row align-items-center mb-3">
            <img src="~/images/svg/icon4.png" width="70" height="70" />
            <div class="ms-4">
                <h5>24*7 Support for Ease Train Ticket Booking</h5>
            </div>
        </div>
    </div>

</section>

<div class="mt-3 row">
    <div class="col-10 card rounded-0 mx-auto" style="box-shadow: 0 0 10px rgba(0,0,0,.3);">
        <div class="card-body">
            <h2 class="text-center text-orange">More Train Information</h2>
            <div class="row">
                <div class="mt-3 col-12 row">
                    <a asp-action="TrainSeatAvailability" class="card text-decoration-none col-3 mx-auto text-secondary">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <img src="~/images/svg/iconseat.png" height="56" width="56" />
                                <div class="ms-2">
                                    <div class="">Train Seat Availability</div>
                                    <div class="">Check train seat availability online</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a asp-action="TicketBookingSeach" class="card text-decoration-none col-3 mx-auto text-secondary">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <img src="~/images/svg/iconticket.png" height="56" width="56" />
                                <div class="ms-2">
                                    <div class="">PNR Status Enquiry</div>
                                    <div class="">Check PNR Status &amp; ticket booking</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a asp-action="TrainRunningSearch" class="card text-decoration-none col-3 mx-auto text-secondary">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <img src="~/images//svg/icontrain.png"
                                     height="56" width="56" />
                                <div class="ms-2">
                                    <div class="">Train Running Status</div>
                                    <div class="">Check live train running status</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a asp-action="StationStatusSearch" class="card text-decoration-none col-3 mx-auto text-secondary">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <img src="~/images/svg/iconstation.png"
                                     height="56" width="56" />
                                <div class="ms-2">
                                    <div class="">Station Schedule</div>
                                    <div class="">Check Schedule of Station</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</div>