@using System.Globalization;
@model Tuple<IEnumerable<Railway_Group01.Data.Schedule>,IEnumerable<Railway_Group01.Data.Coach>>
@{
    ViewData["Title"] = "SearchRoute";
    Layout = "~/Views/Shared/_LayoutofTuong.cshtml";
}

<div class="bg-gradient-cus">
    <div class="form-fields">
        <form class="row g-1 ui form w-lg-50  w-md-100 mx-auto">
            <div class="col-sm-2 col-4  field">
                <label for="gaDi" class="form-label text-white-50 fw-500" style="font-size:12px">From</label>
                <input type="text" id="gaDi" name="gaDi" class="form-control bg-transparent text-light" style="border-bottom:solid 1px white; border-top:0; border-left:0; border-right:0;" />
            </div>
            <div class="col-sm-2 col-4">
                <label for="gaDen" class="form-label text-white-50 fw-500" style="font-size:12px">To</label>
                <input type="text" class="form-control bg-transparent text-light bg-transparent text-light" id="gaDen" name="gaDen" style="border-bottom:solid 1px white; border-top:0; border-left:0; border-right:0;" />
            </div>
            <div class="col-sm-2">
                <label for="ngayXP" class="form-label text-white-50 fw-500" style="font-size:12px">Date</label>
                <input type="date" class="form-control bg-transparent text-light bg-transparent text-light" id="ngayXP" name="ngayXP" style="border-bottom:solid 1px white; border-top:0; border-left:0; border-right:0;" />
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center col-sm-2">
                <button type="submit" class=" text-uppercase btn btn-orange" style="width:120px">
                    Search
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    const [today] = new Date().toISOString().split('T');

    const maxDate = new Date();
    maxDate.setDate(maxDate.getDate() + 10);
    const [maxDateFormatted] = maxDate.toISOString().split('T');

    const dateInput = document.getElementById('ngayXP');
    dateInput.setAttribute('min', today);
    dateInput.setAttribute('max', maxDateFormatted);
</script>
<div class="container-fluid pt-4 pb-3 mb-3 shadow">
    <div class="row">
        <div class="d-flex flex-row col-10 mx-auto">
            <div class="w-25" style="border-right:1px dashed rgba(0,0,0,.12)">
                <div class="mb-2">Class</div>
                <div class="d-inline-flex p-2">
                    <div class="d-flex flex-row flex-wrap">
                        @foreach(var coach in Model.Item2){
                            <div class="form-check form-check-inline ">
                                <input type="checkbox" class="form-check-input" id="coach_@coach.Id" name="coach" />
                                <label class="form-check-label" for="coach_@coach.Id">@coach.Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="w-25 ps-4" style="border-right:1px dashed rgba(0,0,0,.12)">
                <div>
                    <div class="mb-2">Quota</div>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Default radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Default radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Default radio
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-25 ps-4">
                <div class="mb-2">Departure from</div>
                <div class=" d-flex flex-row flex-wrap">
                    <input type="checkbox" class="btn-check" id="btn-check-1" autocomplete="off">
                    <label class="btn btn-outline-primary mb-2 me-2" for="btn-check-1">00:00 - 06:00</label>
                    <input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off">
                    <label class="btn btn-outline-primary mb-2 me-2" for="btn-check-2">06:00 - 12:00</label>
                    <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off">
                    <label class="btn btn-outline-primary mb-2 me-2" for="btn-check-3">12:00 - 18:00</label>
                    <input type="checkbox" class="btn-check" id="btn-check-4" autocomplete="off">
                    <label class="btn btn-outline-primary mb-2 me-2" for="btn-check-4">18:00 - 24:00</label>
                </div>
            </div>
            <div class="w-25 ps-4">
                <button class="btn btn-orange px-5 fw-800 rounded-0">Filter</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto">
            <div>
                <div id="carouselExampleFade" class="carousel slide carousel-fade ">
                    <div class="carousel-inner py-2">
                        <div class="carousel-item active d-flex flex-row justify-content-around align-items-center p-2">
                            <div class="card">
                                <div class="card-body p-2">
                                    Sun, 17
                                    Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span>
                                        <span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-body p-2">
                                    Mon, 18 Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span><span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-body p-2">
                                    Tue, 18 Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span><span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-body p-2">
                                    Wed, 18 Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span><span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-body p-2">
                                    Thu, 18 Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span><span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-body p-2">
                                    Fri, 18 Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span><span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-body p-2">
                                    Sat, 18 Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span><span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item d-flex flex-row justify-content-around align-items-center p-2">
                            <div class="card">
                                <div class="card-body p-2">
                                    Sun, 17
                                    Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span>
                                        <span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-body p-2">
                                    Mon, 18 Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span><span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-body p-2">
                                    Tue, 18 Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span><span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-body p-2">
                                    Wed, 18 Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span><span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-body p-2">
                                    Thu, 18 Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span><span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-body p-2">
                                    Fri, 18 Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span><span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-body p-2">
                                    Sat, 18 Nov
                                    <div id="title" style="color: rgb(221, 55, 52);">
                                        <span class="slash"
                                              style="color: rgb(221, 55, 52);"></span><span class="slash-title">Few Seats</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button class="position-absolute top-50 start-0 translate-middle border-0 bg-white" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <img src="~/images/svg/chevron-compact-left.svg" />
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="position-absolute  top-50 start-100 translate-middle border-0 bg-white" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <img src="~/images/svg/chevron-compact-right.svg" />
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            @if(Model.Item1.Any()){
                @foreach(var item in Model.Item1)
                {
                    <div class="mt-4">
                        <div class="card p-2">
                            <div class="card-body">
                                <div class="d-inline-flex w-100">
                                    <div class="p-3 w-25">
                                        <div class="">
                                            <a href="" class="h5" style="color: rgb(236, 88, 36); text-decoration: none;">
                                                <span class="">@item.Train.Name</span>
                                                <span class="train-name"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="w-75">
                                        <div class="row w-md-50">
                                            <div class="col-3 col-lg-2">
                                                <div class="">
                                                    <a class="text-decoration-none fw-bold" style="color: rgb(236, 88, 36);" href="">@item.Route.StartStation.StationName</a>
                                                    <div class="c-tooltip bottom">
                                                        <div class="tip"></div>
                                                    </div>
                                                </div>
                                                <div class="time">@item.StartAt.ToString("hh:mm tt")</div>
                                                <div class="date">@item.StartAt.ToString("ddd, dd MMM")</div>
                                            </div>
                                            <div class="col-3">
                                                <div class="mt-4 d-flex flex-column align-items-center">
                                                    <p class="text-center">@{
                                                            var time = item.EndAt - item.StartAt;
                                                            Html.DisplayFor(x => time.Hours);
                                                        }</p>
                                                    <img src="~/images/svg/Icon_train.svg.png" width="50px" />
                                                </div>
                                            </div>
                                            <div class="col-3 col-lg-2">
                                                <div class="">
                                                    <a class="text-decoration-none fw-bold" style="color: rgb(236, 88, 36);" href="">@item.Route.EndStation.StationName</a>
                                                    <div class="c-tooltip bottom">
                                                        <div class="tip"></div>
                                                    </div>
                                                </div>
                                                <div class="time">@item.EndAt.ToString("hh:mm tt")</div>
                                                <div class="date">@item.EndAt.ToString("ddd, dd MMM")</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" d-flex flex-row justify-content-around my-4">
                                    @if(item.Train.Coaches.Any()){
                                        @foreach(var detail in item.Train.Coaches){
                                            <a role="button" class="text-decoration-none text-black">
                                                <div class="card">
                                                    <div class="card-body d-flex flex-column  p-2">
                                                        <div class="fs-6 text-center" style="color: #EC5B24;">Coach @Html.DisplayFor(x=>detail.Name)</div>
                                                        <div>Last: @Html.DisplayFor(x=>detail.SeatAvailable)</div>
                                                        <div>
                                                            Cost: @String.Format(CultureInfo.InvariantCulture,"{0:0,0}", detail.CoachFare) VND
                                                        </div>
                                                        <small class="text-secondary">49 min ago</small>
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                    }
                                    @* <a data-bs-toggle="collapse" href=".collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="text-decoration-none text-black">
                                        <div class="card ">
                                            <div class="card-body d-flex flex-column p-2">
                                                <div class="text-center fs-6" style="color: #EC5B24;">Toa B</div>
                                                <div>Last: 20</div>
                                                <div>Cost: 20.000.000 VND</div>
                                                <small class="text-secondary">49 min ago</small>
                                            </div>
                                        </div>
                                    </a> *@
                                </div>
                                <div class="collapse collapseExample">
                                    <div class="d-flex flex-row align-items-center pt-3">
                                        <div class="w-100 row ">
                                            <div class="col-10 mx-auto rounded-2 border border-primary">
                                                <div class="row p-3">
                                                    <div class="col-3 row my-2">
                                                        <input type="checkbox" class="btn-check " id="coarch-1" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-1">A01</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-2" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-2">A02</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-3" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-3">A03</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-4" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-4">A04</label>
                                                    </div>
                                                    <div class="col-3 row my-2">
                                                        <input type="checkbox" class="btn-check " id="coarch-5" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-5">A05</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-6" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-6">A06</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-7" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-7">A07</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-8" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-8">A08</label>
                                                    </div>
                                                    <div class="col-3 row my-2">
                                                        <input type="checkbox" class="btn-check " id="coarch-9" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-9">A09</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-10" autocomplete="off" checked>
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-10">A10</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-11" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-11">A11</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-12" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-12">A12</label>
                                                    </div>
                                                    <div class="col-3 row my-2">
                                                        <input type="checkbox" class="btn-check " id="coarch-13" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-13">A13</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-14" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-14">A14</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-15" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-15">A15</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-16" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-16">A16</label>
                                                    </div>
                                                    <div class="col-3 row my-2">
                                                        <input type="checkbox" class="btn-check " id="coarch-17" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-17">A17</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-18" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-18">A18</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-19" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-19">A19</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-20" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-20">A20</label>
                                                    </div>
                                                    <div class="col-3 row my-2">
                                                        <input type="checkbox" class="btn-check " id="coarch-21" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-21">A21</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-22" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-22">A22</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-23" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-23">A23</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-24" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-24">A24</label>
                                                    </div>
                                                    <div class="col-3 row my-2">
                                                        <input type="checkbox" class="btn-check " id="coarch-25" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-25">A25</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-26" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-26">A26</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-27" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-27">A27</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-28" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-28">A28</label>
                                                    </div>
                                                    <div class="col-3 row my-2">
                                                        <input type="checkbox" class="btn-check " id="coarch-29" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-21">A29</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-30" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-22">A30</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-31" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-23">A31</label>
                                                        <input type="checkbox" class="btn-check " id="coarch-32" autocomplete="off">
                                                        <label class="btn btn-outline-warning me-2 col-4 mb-2  " for="coarch-24">A32</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="train-listing-rows">
                            <div class="train-listing-row disable">
                                <div class="train-info u-ib u-v-align-middle">
                                    <div class="name-number">
                                        <div class="train-number u-disable-state"></div>
                                        <div class="train-name u-disable-state"></div>
                                        <div class="runs-on u-disable-state"></div>
                                    </div>
                                    <div class="orgn-dstn">
                                        <div class="left-wing">
                                            <div class="station-code u-disable-state"></div>
                                            <div class="time u-disable-state"></div>
                                            <div class="date u-disable-state"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="train-fare-avail u-ib u-v-align-middle">
                                    <div class="left-wing">
                                        <div class="station-code u-disable-state"></div>
                                        <div class="time u-disable-state"></div>
                                        <div class="date u-disable-state"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-lg-3 position-relative mt-3 mb-5">

            <div class="card position-fixed shadow" style="width: 280px;" id="ticket-info">
                <div class="card-header text-center">
                    <h5 style="color: #EC5B24;">Your Tickets </h5>
                </div>
                <div class="card-body pt-1">
                    <p class="text-primary mb-2" style="text-align: end;">Total: 1</p>
                    <ul class="list-group">
                        <li class="list-group-item ms-1 d-flex flex-column">
                            <div>
                                <span class="tenGa me-2">A01</span>
                                <span class="chuyenTau">Sai Gon - Ha Noi</span>
                                <a class="text-danger" href="">
                                    <img src="~/images/svg/trash3.svg" class="ms-4" />
                                </a>
                            </div>
                            <div>18/11/2023 10:00:00</div>
                            <div>Coarch A - Seat A10</div>
                        </li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-outline-primary my-2">Buy Tickets</button>
                </div>
            </div>
        </div>
    </div>
</div>
