@using System.Globalization;
@model IEnumerable<Railway_Group01.Data.Schedule>
@{
    ViewData["Title"] = "SearchTrain";
    Layout = "~/Views/Shared/_LayoutofTuong.cshtml";
}

<div class="bg-gradient-cus">
    <div class="form-fields pt-2">
        <form class="row g-1 ui form w-lg-50  w-md-100 mx-auto" asp-action="SearchTrain"  method="get">
            <div class="col-sm-4 col-5  mx-auto me-0 row">
                <label for="traincode" class="col-form-label col-4 text-white-50 fw-500" style="font-size:13px">Search Train</label>
                <div class="col-8">
                    <input type="text" class="form-control" name="traincode" value="@ViewBag.Name" placeholder="Enter the train name or number" />
                </div>
            </div>
            <div class="col-sm-2 col-2 mx-auto ms-0 d-flex flex-column justify-content-center align-items-center">
                <button type="submit" class=" text-uppercase btn btn-orange" style="width:120px">
                    Search
                </button>
            </div>
        </form>
    </div>
</div>
@* 
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto">
           
            @if (Model != null && Model.Any())
            {
                @foreach (var schedule in Model)
                {
                    <div class="mt-4">
                        <div class="card p-2">
                            <div class="card-body">
                                <div class="d-inline-flex w-100">
                                    <div class="p-3 w-25">
                                        <div class="">
                                            <a class="h4 text-orange text-decoration-none"
                                               asp-controller="Railway"
                                               asp-action="TrainDetail"
                                               asp-route-traincode="@schedule.TrainCode"
                                               asp-route-departure="@schedule.Route.StartStationId"
                                               asp-route-arrival="@schedule.Route.EndStationId"
                                               asp-route-time="@schedule.Departure">
                                                @schedule.Name
                                            </a>
                                        </div>
                                    </div>
                                    <div class="w-75">
                                        <div class="row w-md-50">
                                            <div class="col-3 col-lg-2 mx-auto me-0">
                                                <div class="">
                                                    <a class="text-decoration-none fw-bold" style="color: rgb(236, 88, 36);" href="">@schedule.Route.RouteDetails.FirstOrDefault().DepartureStation.Name</a>
                                                    <div class="c-tooltip bottom">
                                                        <div class="tip"></div>
                                                    </div>
                                                </div>
                                                <div class="time">@schedule.Departure.ToString("HH:mm")</div>
                                                <div class="date">@schedule.Departure.ToString("ddd, dd MMM")</div>
                                            </div>
                                            <div class="col-3 d-flex flex-column align-items-center ">
                                                <div class="text-center">
                                                    @{
                                                        var time = schedule.Arrival - schedule.Departure;
                                                    }
                                                    @time.Hours h @time.Minutes mins
                                                </div>
                                                <img src="~/images/svg/Icon_train.svg.png" width="50px" />
                                            </div>
                                            <div class="col-3 col-lg-2 mx-auto ms-0">
                                                <div class="">
                                                    <a class="text-decoration-none fw-bold" style="color: rgb(236, 88, 36);" href="">@schedule.Route.RouteDetails.LastOrDefault().ArrivalStation.Name</a>
                                                    <div class="c-tooltip bottom">
                                                        <div class="tip"></div>
                                                    </div>
                                                </div>
                                                <div class="time">@schedule.Arrival.ToString("HH:mm")</div>
                                                <div class="date">@schedule.Arrival.ToString("ddd, dd MMM")</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" d-flex flex-row justify-content-around align-items-center my-4 multiple-class">
                                    @if (schedule.Train!.Coaches!.Any())
                                    {
                                        @foreach (var coach in schedule.Train!.Coaches!)
                                        {
                                            <a role="button" class="text-decoration-none text-black train-coach" data-bs-toggle="collapse" href="#@schedule.TrainCode-@coach.Id" aria-expanded="false" aria-controls="@schedule.TrainCode-@coach.Id">
                                                <div class="card" style="width:180px">
                                                    <div class="card-body d-flex flex-column  p-2">
                                                        <div class="fs-6 text-center" style="color: #EC5B24;">Coach @coach.CoachNo</div>
                                                        <div>Last: @Html.DisplayFor(x=>coach.NoOfSeats)</div>
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                    }
                                </div>

                                @foreach (var coach in schedule.Train!.Coaches)
                                {
                                    <div class="collapse " id="@schedule.TrainCode-@coach.Id">
                                        <div class="d-flex flex-row align-items-center justify-content-center pt-3">
                                            @if (coach.NoOfCompartments == 0)
                                            {
                                                int count = 1;
                                                <div class="row et-car-floor ">
                                                    <div class="et-full-width">
                                                        @while (count <= coach.NoOfSeats)
                                                        {
                                                            <div class="et-car-nm-64-sit ng-isolate-scope">
                                                                <div class="et-car-seat-left et-seat-h-35">
                                                                    <div class="et-col-16 et-sit-side"></div>
                                                                    <div class="et-col-84 et-sit-sur-outer">
                                                                        <div class="et-sit-sur text-center et-sit-avaiable">
                                                                            <div data-bs-toggle="tooltip" data-bs-title="Available seat" data-bs-placement="top" data-bs-custom-class="custom-tooltip" class="et-sit-no sit-available"
                                                                                 data-schedule="@schedule.Id"
                                                                                 data-coach="@coach.Id"
                                                                                 data-seat="@count"
                                                                                 data-start="@schedule.Departure"
                                                                                 data-end="@schedule.Arrival"
                                                                                 data-cabin="0"
                                                                                 data-coachNo="@coach.CoachNo"
                                                                                 data-fromStation="@schedule.Route.RouteDetails.FirstOrDefault().DepartureStationId"
                                                                                 data-toStation="@schedule.Route.RouteDetails.LastOrDefault().ArrivalStationId"
                                                                                 data-class="@coach.ClassCode"
                                                                                 data-className="@coach.Class.Name">
                                                                                <span>@count</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            count++;
                                                        }
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                int count = 1;
                                                int cabinNum = 1;
                                                <div class="row et-car-floor w-100">
                                                    <div class="et-col-1-18 et-car-floor-full-height"></div>
                                                    <div class="et-col-8-9">
                                                        <div class="et-bed-way et-full-width et-text-sm">
                                                            @for (int i = 1; i <= 8; i++)
                                                            {
                                                                @if (coach.NoOfCompartments < i)
                                                                {
                                                                    <div class="et-col-1-8 text-center ng-binding et-hidden">Cabin @i</div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="et-col-1-8 text-center ng-binding">Cabin @i</div>
                                                                }
                                                            }
                                                        </div>
                                                        @{
                                                            int brek = coach.NoOfCompartments * 2;
                                                        }
                                                        @while (count <= coach.NoOfSeats)
                                                        {
                                                            if (brek == 0)
                                                            {
                                                                <div class="et-col-1-16 et-seat-h-35 ng-isolate-scope ">
                                                                    <div class="et-bed-right invisible">
                                                                    </div>
                                                                </div>
                                                                <div class="et-col-1-16 et-seat-h-35 ng-isolate-scope">
                                                                    <div class="et-bed-left invisible">
                                                                    </div>
                                                                </div>
                                                                brek = coach.NoOfCompartments * 2;
                                                                cabinNum = 1;
                                                            }
                                                            if (count % 2 == 0)
                                                            {
                                                                <div class="et-col-1-16 et-seat-h-35 ng-isolate-scope ">
                                                                    <div class="et-bed-right">
                                                                        <div class="et-bed-outer">
                                                                            <div class="et-bed text-center et-sit-avaiable">
                                                                                <div data-bs-toggle="tooltip" data-bs-title="Available seat" data-bs-custom-class="custom-tooltip" data-bs-placement="top" class="et-sit-no sit-available"
                                                                                     data-schedule="@schedule.Id"
                                                                                     data-cabin="@cabinNum"
                                                                                     data-coach="@coach.Id"
                                                                                     data-seat="@count"
                                                                                     data-start="@schedule.Departure"
                                                                                     data-end="@schedule.Arrival"
                                                                                     data-coachNo="@coach.CoachNo"
                                                                                     data-fromStation="@schedule.Route.RouteDetails.FirstOrDefault().DepartureStationId"
                                                                                     data-toStation="@schedule.Route.RouteDetails.LastOrDefault().ArrivalStationId"
                                                                                     data-class="@coach.ClassCode"
                                                                                     data-className="@coach.Class.Name">
                                                                                    <span>@count</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="et-bed-illu"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                cabinNum++;
                                                            }
                                                            else
                                                            {
                                                                <div class="et-col-1-16 et-seat-h-35 ng-isolate-scope">
                                                                    <div class="et-bed-left ">
                                                                        <div class="et-bed-outer">
                                                                            <div class="et-bed text-center et-sit-avaiable">
                                                                                <div data-bs-toggle="tooltip" data-bs-title="Available seat" data-bs-custom-class="custom-tooltip" data-bs-placement="top" class="et-sit-no sit-available"
                                                                                     data-schedule="@schedule.Id"
                                                                                     data-cabin="@cabinNum"
                                                                                     data-coach="@coach.Id"
                                                                                     data-seat="@count"
                                                                                     data-start="@schedule.Departure"
                                                                                     data-end="@schedule.Arrival"
                                                                                     data-coachNo="@coach.CoachNo"
                                                                                     data-fromStation="@schedule.Route.RouteDetails.FirstOrDefault().DepartureStationId"
                                                                                     data-toStation="@schedule.Route.RouteDetails.LastOrDefault().ArrivalStationId"
                                                                                     data-class="@coach.ClassCode"
                                                                                     data-className="@coach.Class.Name">
                                                                                    <span>@count</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="et-bed-illu"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }

                                                            brek--;
                                                            count++;
                                                        }
                                                    </div>
                                                    <div class="et-col-1-18 et-car-floor-full-height"></div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-lg-3 position-relative mt-3 mb-5">
        </div>
    </div>
</div> *@